<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomasbiddle.puppywood"
    android:versionCode="8"
    android:versionName="1.2.0" >

    <uses-sdk 
        android:minSdkVersion="5"
        android:targetSdkVersion="5"
        android:maxSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity
            android:configChanges="keyboardHidden"
            android:name=".Puppywood"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".GalleryActivity"/>
        <activity android:label="@string/app_name" android:name=".WebcamActivity"/>
        <activity android:label="@string/app_name" android:name=".ContactActivity" android:configChanges="keyboardHidden"/>
        <activity android:label="@string/app_name" android:name=".NewCustomerActivity" android:configChanges="keyboardHidden"/>
        <activity android:label="@string/app_name" android:name=".OldCustomerActivity" android:configChanges="keyboardHidden"/>
        <activity android:label="@string/app_name" android:name=".BookStayActivity" android:configChanges="keyboardHidden"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera1"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera2"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera3"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera4"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera5"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera6"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera7"/>
        <activity android:label="@string/app_name" android:name=".cameras.Camera8"/>
        <activity android:label="@string/app_name" android:name=".cameras.CameraQuad1"/>
        <activity android:label="@string/app_name" android:name=".cameras.CameraQuad2"/>
        <activity android:label="@string/app_name" android:name=".cameras.BeechmontCamera1"/>
        <activity android:label="@string/app_name" android:name=".cameras.BeechmontCamera2"/>
        <activity android:label="@string/app_name" android:name=".cameras.BeechmontCamera3"/>
        <activity android:label="@string/app_name" android:name=".cameras.BeechmontCamera4"/>
        
    </application>

</manifest>